@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Manrope:wght@400;500;600;700&family=Roboto+Slab:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    background: transparent;
    outline: none;
    display: inline-block;
}

a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

span {
    display: inline-block;
}

ul, li {
    list-style-type: none;
}

input, textarea {
    background: transparent;
    outline: none;
    border: transparent;
}

body {
    background: #eee;
    font-family: "Manrope", sans-serif;
    font-style: normal;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.main_container {
    max-width: 77.5rem;
    margin: 0 auto;
    padding: 0px 2.5rem;
}

.sec-title {
    color: var(--Dark-green, #242A1F);
    font-family: "Roboto Slab", serif;
    font-size: 2.375rem;
    font-weight: 300;
    line-height: 120%;

    span {
        color: #4C9C2E;
        font-weight: 500;
    }
}

.sec-light-title {
    color: var(--White, #FFF);
    font-family: "Roboto Slab", serif;
    font-size: 2.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;

    span {
        font-weight: 500;
    }
}

.dark-alert {
    border-radius: 0.3125rem;
    background: var(--Dark-green, #242A1F);
    padding: 0.62rem;
    color: var(--White, #FFF);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
    display: inline-block;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.success-link {
    display: flex;
    padding: 1.25rem 2.1875rem;
    align-items: center;
    gap: 1.25rem;
    height: 4rem;
    border: 2px solid var(--Dark-green, #242A1F);
    background: var(--Green, #82C853);
    color: var(--Dark-green, #242A1F);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
}

.sec-title{
    color: var(--Dark-green, #242A1F);
    font-family: "Roboto Slab", serif;
    font-size: 2.375rem;
    font-weight: 300;
    line-height: 120%; 
    
    span{
        color: var(--Green-extra, #4C9C2E);
        font-weight: 500;
    }
}


header {
    .main_container {
        display: flex;
        align-items: flex-start;
        gap: 1.44rem;
    }

    .logo {
        width: 10rem;
        height: 10rem;
        background: #242A1F;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menues {
        padding: 1.25rem 0;
    }

    .menu_top {
        display: flex;
        align-items: center;
        gap: 3.1rem;

        .address {
            color: #242A1F;
            font-size: 1.0625rem;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
        }

        .texts {
            display: flex;
            align-items: center;
            gap: 2.5rem;
        }

        .text a{
            color: #242A1F;
            font-size: 1.0625rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            border-bottom: 0.0625rem solid #242A1F;
            padding-bottom: 0.31rem;
        }

        .text_1 a {
            padding-right: 0.4rem;
        }

        .menu_top_right {
            display: flex;
            align-items: center;
            gap: 1.88rem;
        }

        .social_links {
            display: flex;
            align-items: center;
            gap: 1rem;

            a {
                position: relative;

                span {
                    position: absolute;
                    width: 0.75rem;
                    height: 0.75rem;
                    background: #82C853;
                    border-radius: 50%;
                    right: -0.25rem;
                    top: -0.25rem;
                }
            }
        }

        .phone {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 0.19rem;

            a {
                color: #242A1F;
                font-size: 1.375rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            span {
                color: #5B5B59;
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }

    .line {
        background: #242A1F;
        height: 0.0625rem;
        margin: .62rem 0 1.56rem;
    }

    .menu_bottom {
        display: flex;
        align-items: center;
        gap: 1.75rem;

        a {
            display: flex;
            align-items: center;
            gap: 0.31rem;
            color: #242A1F;
            font-size: 1rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
        }

        a.last {
            gap: 0.62rem;
        }
    }
}

#index_home {
    padding-top: 4.94rem;

    .home_bg {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }

    .title {
        color: #242A1F;
        font-family: "Roboto Slab", serif;
        font-size: 3.75rem;
        font-style: normal;
        font-weight: 300;
        line-height: 140%;
        text-transform: uppercase;
    }

    .texts {
        display: flex;
        align-items: center;
        gap: 1.53rem;
        margin: .41rem 0 .44rem;

        .description {
            color: #242A1F;
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            width: 24.06225rem;
        }

        .title_2 {
            color: #242A1F;
            font-family: "Roboto Slab", sans-serif;
            font-size: 3.75rem;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            text-transform: uppercase;
        }
    }

    .cards {
        display: flex;
        align-items: flex-start;
        gap: 3rem;
        width: 44.75rem;
        margin: 4.57rem 0 5.1rem;
        padding-left: 0.69rem;

        .card_description {
            color: #242A1F;
            font-size: 1.1875rem;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            text-transform: uppercase;
            margin-top: 1.1rem;
            white-space: nowrap;

            span {
                font-weight: 700;
                display: inline;
            }
        }

        .card_item:last-child {
            padding-left: 0.42em;
        }
    }

    .buttons {
        display: flex;
        align-items: center;
        gap: 2.03rem;
        padding-left: 0.69rem;

        .link_1 {
            padding: 1.1rem 2rem;
        }

        .link_2 {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.25rem;
            background: #242A1F;
            color: #FFF;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
            text-transform: uppercase;
            padding: 1.25rem 2.81rem;
        }
    }

    .index_question_card {
        display: flex;
        border-radius: 0.625rem;
        background: #FFF;
        margin: 11.25rem .19rem 9.38rem 0.25rem;
        
        .card_left {
            border-radius: 0.625rem 0rem 11.25rem 0.625rem;
            background:#242A1F;
            position: relative;
            overflow: hidden;
            padding: 2.57rem 1.52rem 4.2rem 2.32rem;
            width: 33.48719rem;

            .card_bg {
                position: absolute;
                right: 1.9rem;
                top: 50%;
                transform: translateY(calc(-50% + 14px));
            }

            .card_title {
                color: #FFF;
                font-family: "Roboto Slab", serif;
                font-size: 2.375rem;
                font-style: normal;
                font-weight: 300;
                line-height: 121%;
                position: relative;
                margin-bottom: 0.85rem;

                span {
                    color: #82C853;
                    display: inline;
                    font-weight: 500;
                }
            }

            .subtitle {
                color: #FFF;
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                margin-bottom: 6.6rem;
                max-width: 16.81288rem;
                position: relative;
            }

            .user_img {
                position: relative;
            }

            .user_data {
                color: #FFF;
                font-size: 1rem;
                font-style: normal;
                font-weight: 700;
                line-height: 140%;
                margin-top: 0.45rem;
                margin-bottom: 1.56rem;
                position: relative;

                .job {
                    font-weight: 500;
                    margin-top: 0.25rem;
                }
            }
            
            p {
                color: #FFF;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                max-width: 21.01469rem;
                position: relative;
            }
        }

        .card_right {
            width: calc(100% - 33.48719rem);
            padding: 2.69rem 1.94rem 0rem 1.88rem;

            .slide_count {
                color: #5B5B59;
                font-size: 1rem;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                text-align: center;
                margin-bottom: 0.88rem;
                display: flex;
                align-items: center;
                justify-content: center;

                .slider_coun_in  {
                    width: auto;
                }
            }

            .slider_pagination {
                height: 1px;
                background: #EEE;
                position: relative;
                margin-bottom: 2.48rem;

                .swiper-scrollbar-drag {
                    position: absolute;
                    left: 0;
                    top: -1px;
                    background: #82C853;
                    width: 7.67444rem;
                    height: 2px;
                }
            }

            .slider_title {
                color: #242A1F;
                font-size: 1.375rem;
                font-style: normal;
                font-weight: 600;
                line-height: 120%;
                text-align: center;
                margin-bottom: 1.85rem;
            }

            .images {
                display: flex;
                flex-wrap: wrap;
                gap: 1.8rem 0;
                align-items: stretch;
            }

            .card_line {
                width: 0.0625rem;
                background: #242A1F;
                margin-left: 1.38rem;
                margin-right: 1.44rem;
            }

            .image {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.88rem;
                width: calc(50% - (2.89rem / 2));
                
                img {
                    width: 100%;
                    height: 12.24988rem;
                    object-fit: cover;
                }

                input[type="checkbox"] {
                    display: none;
                }

                label {
                    position: relative;
                    padding-left: 1.98rem;
                    color: #242A1F;
                    font-size: 1.125rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;

                    &::before {
                        content: "";
                        position: absolute;
                        border-radius: 0.064rem;
                        border: 0.655px solid #242A1F;
                        width: 1.40769rem;
                        height: 1.40769rem;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        transition: .2s ease;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        width: 1.5rem;
                        height: 1.5rem;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        background-image: url('../images/check_icon.svg');
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        display: none;
                    }

                    &:hover {
                        &::before {
                            border-color: #FFDD00;
                        }
                    }
                }

                @for $i from 1 through 20 {
                    #home_card_slide_#{$i}:checked + label[for="home_card_slide_#{$i}"]{
                        &::before {
                            border:#FFDD00;
                        }
    
                        &::after {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.main__cards{
    padding-bottom: 9.38rem;

    .main__cards-title{
        width: 32.96631rem;
    }

    .main__cards-wrap{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.87rem;
        margin-top: 3.13rem;

        .main__card{
            border-radius: 0.625rem;
            background: var(--White, #FFF);
            display: flex;
            width: 35.3125rem;
            height: 21.3125rem;
            padding: 1.87rem;
            flex-direction: column;
            align-items: flex-start;
            flex-shrink: 0;

            .main__card-img{
                display: flex;
                width: 2.9375rem;
                height: 2.9375rem;
                padding: 0.25rem 0.4375rem;
                justify-content: center;
                align-items: center;
                border-radius: 0.3125rem;
                background: var(--Light-gray, #EEE);
                backdrop-filter: blur(2.9323372840881348px);
                margin-bottom: 1.69em;
            }

            .main__card-title{
                color: var(--Dark-green, #242A1F);
                font-size: 1.25rem;
                font-weight: 600;
                line-height: 120%; /* 1.5rem */
                text-transform: uppercase;
                margin-bottom: 2.19rem;
            }

            .main__card-text{
                color: var(--Dark-green, #242A1F);
                font-size: 1.25rem;
                font-weight: 400;
                line-height: 120%; /* 1.5rem */
            }
        }
    }
}

.selections{
    padding-bottom: 9.37rem;

    .selections__content{
        margin-top: 3.12rem;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 1.875rem;
        border-radius: 0.625rem;
        background: var(--White, #FFF);
        gap: 5.255rem;

        .selections__items{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .selections__item{
                display: flex;
                flex-direction: column;
                gap: 0.94rem;

                .selections__item-title{
                    color: var(--Dark-green, #242A1F);
                    font-size: 1.125rem;
                    font-weight: 400;
                    line-height: 120%;
                }

                a{
                    display: flex;
                    align-items: center;
                    gap: 1.88rem;
                    padding: 0.625rem 1.25rem;
                    border-radius: 0.3125rem;
                    background: var(--Light-gray, #EEE);

                    span{
                        color: var(--Dark-green, #242A1F);
                        font-size: 1.375rem;
                        font-weight: 600;
                        line-height: 120%; 
                    }
                }
            }

            .select-border{
                height: 7.5rem;
                width: 1px;
                background: #CDDDC3;
            }
        }
    }
}

.house__info{
    padding-bottom: 9.37rem;

    .house__cards{
        display: flex;
        gap: 1.88rem;
        align-items: start;
        margin-top: 3.12rem;
        flex-wrap: wrap;

        .house__card{
            display: flex;
            flex-direction: column;
            width: 35.3rem;

            .house__card-img{
                position: relative;

                img{
                    width: 100%;
                    border-radius: 0.625rem 0.625rem 0rem 0rem;
                }

                .house__card-spn{
                    position: absolute;
                    right: 1.875rem;
                    top: 1.875rem;
                    padding: 0.3125rem;
                    border-radius: 0.3125rem;
                    border: 1px solid var(--White, #FFF);
                    background: var(--White, #FFF);
                    color: var(--Dark-green, #242A1F);
                    font-size: 1.125rem;
                    font-weight: 400;
                    line-height: 120%;
                    b{
                        font-weight: 500;
                    }
                }
            }

            .house__card-info{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1.875rem;
                border-radius: 0rem 0rem 2.5rem 0.625rem;
                background: var(--White, #FFF);
                margin-top: -5px;

                span{
                    color: var(--Dark-green, #242A1F);
                    font-size: 1.25rem;
                    font-weight: 600;
                    line-height: 120%; /* 1.5rem */
                    text-transform: uppercase;
                }

                a{
                    color: var(--Dark-green, #242A1F);
                    font-size: 1.125rem;
                    font-weight: 700;
                    line-height: 120%;
                    padding-bottom: 0.21rem;
                    border-bottom: 0.125rem solid #242A1F;
                }
            }
        }
    }
}

.house__discount{
    padding-bottom: 9.38rem;

    .house__discount-content{
        width: 72.8125rem;
        padding: 1.88rem 1.87rem;
        background-image: url(../images/house-discount.webp);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 0.625rem;

        .house__dicount-texts{
            display: flex;
            flex-direction: column;
            gap: 1.56rem 0;
            max-width: 32.3125rem;

            .house__dicount-title{
                color: var(--White, #FFF);
                max-width: 28.5625rem;
            }

            .house__dicount-text{
                color: var(--White, #FFF);
                font-size: 1.25rem;
                font-weight: 400;
                line-height: 120%;
            }
        }

        .house__discount-info{
            border-radius: 0.3125rem;
            background: var(--White, #FFF);
            display: flex;
            width: 100%;
            padding: 1.875rem 5.625rem;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            margin-top: 7.5rem;
            
            .house__discount-items,
            .house__discount-item{
                display: flex;
                align-items: center;
                gap: 1.5625rem;
                
                .house__discount-img{
                    display: flex;
                    width: 2.9375rem;
                    height: 2.9375rem;
                    justify-content: center;
                    align-items: center;
                    border-radius: 0.3125rem;
                    background: var(--Light-gray, #EEE);
                    backdrop-filter: blur(2.9323372840881348px);
                }

                span{
                    display: flex;
                    flex-direction: column;
                    color: var(--Dark-green, #242A1F);
                    font-size: 1.1875rem;
                    font-weight: 500;
                    line-height: 120%; /* 1.425rem */
                    text-transform: uppercase;

                    b{
                        font-weight: 700;
                    }
                }
            }

            .house__discount-item1{
                width: 12.5rem;
            }
            .house__discount-item2{
                width: 15rem;
            }

            .house__discount-link{
                border: none;
            }
        }
    }
}

.project{
    padding-bottom: 9.37rem;

    .project__top{
        display: flex;
        align-items: end;
        justify-content: space-between;
        margin-bottom: 3.125rem;

        .project-title{
            max-width: 50.86494rem;
        }

        .project__top-link{
            color: var(--Dark-green, #242A1F);
            font-size: 1.25rem;
            font-weight: 700;
            border-bottom: 0.125rem solid #242A1F;
        }
    }

    .project__slider{
        .swiper-slide{
            width: 23.125rem;
            display: flex;
            flex-direction: column;

            .project__slider-info{
                display: flex;
                width: 23.125rem;
                padding: 1.875rem;
                flex-direction: column;
                gap: 0.625rem;
                border-radius: 0rem 0rem 2.5rem 0.625rem;
                background: var(--White, #FFF);
                margin-top: -5px;

                .project__slider-title{
                    color: var(--Dark-green, #242A1F);
                    font-size: 1.25rem;
                    font-weight: 600;
                    line-height: 140%; /* 1.75rem */
                    text-transform: uppercase;
                    padding-bottom: 0.625rem;
                    border-bottom: 1px solid #CDDDC3;
                }

                .project__slider-price{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    span{
                        color: var(--Dark-green, #242A1F);
                        font-size: 1.375rem;
                        font-weight: 600;
                        line-height: 120%;
                    }

                    b{
                        color: var(--Dark-green, #242A1F);
                        font-size: 1.375rem;
                        line-height: 120%;
                        font-weight: 700;
                    }
                }
            }
        }

        .swiper-button-prev,
        .swiper-button-next{
            top: 12.9rem;
        }
        .swiper-button-prev:after,
        .swiper-button-next:after{
           display: none;
        }
    }
}

.project__catalog{
    padding-bottom: 9.38rem;

    .project__content{
        position: relative;
        display: flex;
        align-items: start;
        gap: 1.66rem;
        border-radius: 0.625rem 0.625rem 11.25rem 0.625rem;
        background: var(--White, #FFF); 
        padding: 1.87rem;

        .project__catalog-info{
            max-width: 31.15281rem;

            .project__catalog-text{
                color: var(--Dark-green, #242A1F);
                font-size: 1.25rem;
                font-weight: 400;
                line-height: 120%;
                margin-top: 1.56rem;
                max-width: 30.17425rem;

                span{
                    font-weight: 600;
                }
            }

            form{
                max-width: 26.5625rem;

                .project__catalog-form{
                    display: flex;
                    flex-direction: column;
                    gap: 1.25rem;
                    margin-top: 3.75rem;
    
                    .project__catalog-inp{
                        padding: 1.25rem;
                        border-bottom: 1px solid var(--Dark-green, #242A1F);
                        color: var(--Gray, #5B5B59);
                        font-size: 1.125rem;
                        font-weight: 400;
                        line-height: 120%; 
                    }
                }
                .project__form-btn{
                    padding: 1.25rem;
                    width: 100%;
                    margin-top: 1.875rem;
                }

                .project-form-text{
                    color: var(--Gray, #5B5B59);
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 120%;
                    margin-top: 0.88em;

                    a{
                        font-weight: 600;
                        text-decoration-line: underline;
                    }
                }
            }

        }

        .project__catalog-items{
            display: flex;
            align-items: start;
            gap: 2.1875rem 1.6875rem;
            flex-wrap: wrap;
            
            .project__catalog-item{
                display: flex;
                align-items: center;
                gap: 1.5625rem;
                width: 17.4375rem;

                .project__catalog-icon{
                    display: flex;
                    width: 2.9375rem;
                    height: 2.9375rem;
                    padding: 0.25rem 0.4375rem;
                    justify-content: center;
                    align-items: center;
                    border-radius: 0.3125rem;
                    background: var(--Light-gray, #EEE);
                    backdrop-filter: blur(2.9323372840881348px);
                }

                p{
                    color: var(--Dark-green, #242A1F);
                    font-size: 1.1775rem;
                    font-weight: 400;
                    line-height: 120%;
                    text-transform: uppercase;

                    span{
                        font-weight: 600;
                    }
                }
            }

            .project__catalog-item1{
                p{
                    width: 11.5rem;
                }
            }
        }

        .project-catalog-img{
            position: absolute;
            right: -80px;
            bottom: -70px;
        }

    }
}

.house-video{
    background-image: url(../images/house-video-img.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 40.625rem;

    .main_container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        .house__video-play{
            height: 7.61281rem;
            width: 7.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2.1875rem 2.5rem;
            border-radius: 4.375rem;
            border: 2px solid var(--White, #FFF);
        }
    }
}

#our_company {
    color: #242A1F;

    .main_container {
        padding-top: 10.34rem;
        position: relative;
    }

    .bg_img {
        position: absolute;
        top: 0.96rem;
        left: -3.5rem;
    }

    .sec-title {
        max-width: 52rem;
        margin-bottom: 3.12rem;
        position: relative;
        z-index: 1;
    }

    .card_title {
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 120%;
        text-transform: uppercase;
        position: relative;
        z-index: 1;
    }

    .card_description {
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 120%;
        position: relative;
        z-index: 1;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 1.87rem 1.94rem;
        margin-bottom: 9.38rem;

        .card_item {
            width: calc(100% / 3 - 3.88rem / 3);
            background: white;
            border-radius: 0.625rem;
            overflow: hidden;
            padding: 1.88rem;
        }

        .card_item:not(.dark) {
            .card_title {
                margin-bottom: 2.06rem;
            }
        }

        .card_item.dark {
            border-radius: 0.625rem;
            border: 1px solid var(--Dark-green, #242A1F);
            background: var(--Dark-green, #242A1F);
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .card_title {
                font-family: "Roboto Slab", serif;
                font-size: 2.8125rem;
                font-weight: 500;
                line-height: 120%;
                margin-bottom: 4px;
            }

            .card_description {
                text-align: center;
                font-size: 1.375rem;
                font-weight: 600;
                line-height: 120%;
                text-transform: uppercase;
            }
        }
    }

    .bank_card {
        background-image: url('../images/bank_card_bg.webp');
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        padding: 2.71rem 2.25rem 2.7rem 0;
        margin-bottom: 9.38rem;
        border-radius: 0.625rem;
        overflow: hidden;
        position: relative;
        z-index: 1;

        .sec-light-title {
            max-width: 29.48881rem;
            margin: 0 0 4.58rem 1.87rem;
        }
        
        .bank_logo {
            position: absolute;
            top: 4.41rem;
            right: 3.52rem;
        }

        form {
            border-radius: 10px;
            background: var(--White, #FFF);
            box-shadow: 0px 0px 24px 0px rgba(36, 42, 31, 0.04);
            margin-left: 1.5rem;
            padding: 1.88rem;
        }

        .form_head {
            display: flex;
            align-items: center;
            gap: 1.88rem;
            margin-bottom: 1.56rem;

            .head_item {
                display: flex;
                align-items: center;
                gap: 1.56rem;
            }

            .img {
                width: 2.9375rem;
                height: 2.9375rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0.3125rem;
                background: var(--Light-gray, #EEE);
                backdrop-filter: blur(2.9323372840881348px);
            }

            span {
                color: var(--Dark-green, #242A1F);
                font-size: 1.1875rem;
                font-weight: 400;
                line-height: 120%;
                text-transform: uppercase;
            }
        }

        label {
            color: var(--Dark-green, #242A1F);
            font-size: 1.25rem;
            font-weight: 400;
            line-height: 120%;
            margin-bottom: 1.91rem;
            display: block;

            span {
                font-weight: 600;
            }
        }

        .inputs {
            display: flex;
            align-items: center;
            margin-bottom: 1.78rem;

            input {
                color: var(--Dark-green, #242A1F);
                padding: 1.25rem;
                border-bottom: 1px solid var(--Dark-green, #242A1F);
                font-size: 1.125rem;
                font-weight: 400;
                line-height: 120%;
                
                &::placeholder {
                    color: var(--Gray, #5B5B59);
                }
            }

            input:nth-child(1) {
                width: 20.9375rem;
                margin-right: 1.88rem;
            }

            input:nth-child(2) {
                width: 21.875rem;
                margin-right: 1.81rem;
            }
        }

        .links {
            color: var(--Gray, #5B5B59);
            font-size: 1rem;
            font-weight: 400;
            line-height: 120%;

            a {
                font-weight: 600;
            }
        }
    }
}

#map {
    background-image: url('../images/map_bg.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4.81em 0;

    .map_content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border-radius: 0.625rem;
        background: var(--White, #FFF);
        overflow: hidden;
    }

    .map_subtitle {
        color: var(--Dark-green, #242A1F);
        font-size: 1.375rem;
        font-weight: 600;
        line-height: 120%;
    }

    .sec-title {
        margin-bottom: 3.06rem;
    }

    .map_left {
        padding: 2.5rem 1.25rem 2.5rem 2.5rem;
    }

    .address {
        margin: 1.25rem 0 1.88rem;
        max-width: 24.42157rem;
        
        span {
            color: var(--Gray, #5B5B59);
            font-size: 1.125rem;
            font-weight: 400;
            line-height: 120%;
            margin: 0.88rem 0;
            display: block;
        }

        a {
            color: var(--Dark-green, #242A1F);
            font-size: 1.25rem;
            font-weight: 700;
            line-height: normal;
            padding-bottom: 0.31rem;
            border-bottom: 2px solid #242A1F;
        }
    }

    .phone {
        margin: 1.25rem 0 1.88rem;
        display: block;
    }

    .email {
        display: block;
        margin: 1.25rem 0 3.06rem;
    }

    ul {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 3.06rem;
    }
}

footer {
    background: var(--Dark-green, #242A1F);
    padding: 3.79rem 0 1.33rem;
    color: #fff;

    .foot_top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .social_links {
        ul {
            margin-top: 2.1rem;
        }

        .link {
            font-size: 1.375rem;
            font-weight: 600;
            line-height: 120%;
            margin-bottom: 1.21rem;
        }

        .email {
            margin-bottom: 0.87rem;
        }

        .answer {
            font-size: 1rem;
            font-weight: 500;
            line-height: 140%;
            margin-bottom: 3.44rem;
        }

        .socials {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-bottom: 1.21rem;
        }

        .address {
            font-size: 1rem;
            font-weight: 500;
            line-height: 140%;
            max-width: 16.28581rem;
        }
    }

    .nav_links {
        margin-right: 0.6rem;

        .nav_link_title {
            font-size: 1.375rem;
            font-weight: 600;
            line-height: 120%;
            margin-bottom: 1.88rem;
        }

        li:not(.nav_link_title):not(:last-child) {
            margin-bottom: 0.99rem;
        }
        
        li a {
            color: var(--Light-gray, #EEE);
            font-size: 1rem;
            font-weight: 600;
            line-height: normal;
        }

        li a.politika {
            padding-top: 0.5rem;
        }

        .nav_links_top {
            display: flex;
            align-items: flex-start;
            margin-bottom: 3rem;
            justify-content: space-between;
        }

        .nav_links_bottom {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }

        .company {
            margin-right: 5.1432rem;

            li {
                max-width: 9.73927rem;
            }
        }

        .services {
            margin-right: 3.5rem;

            li {
                max-width: 11.375rem;
            }
        }

        .prices {
            margin-right: 1.31rem;

            li {
                max-width: 12.875rem;
            }
        }

        .portfolio {
            margin-right: 2.7rem;
        }

        .qr_code {
            text-align: right;

            span {
                font-size: 0.875rem;
                font-weight: 400;
                line-height: 120%;
                display: block;
                max-width: 12.55263rem;
                margin-top: 0.5rem;
            }
        }
    }

    .foot_bottom {
        color: var(--Gray, #5B5B59);
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 140%;
        padding-top: 0.87rem;
        border-top: 1px solid #5B5B59;
        margin-top: 3.52rem;
    }
}