@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Manrope:wght@400;500;600;700&family=Roboto+Slab:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background: transparent;
  outline: none;
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

span {
  display: inline-block;
}

ul, li {
  list-style-type: none;
}

input, textarea {
  background: transparent;
  outline: none;
  border: transparent;
}

body {
  background: #eee;
  font-family: "Manrope", sans-serif;
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.main_container {
  max-width: 77.5rem;
  margin: 0 auto;
  padding: 0px 2.5rem;
}

.sec-title {
  color: var(--Dark-green, #242A1F);
  font-family: "Roboto Slab", serif;
  font-size: 2.375rem;
  font-weight: 300;
  line-height: 120%;
}
.sec-title span {
  color: #4C9C2E;
  font-weight: 500;
  display: inline;
}

.sec-light-title {
  color: var(--White, #FFF);
  font-family: "Roboto Slab", serif;
  font-size: 2.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.sec-light-title span {
  font-weight: 500;
}

.dark-alert {
  border-radius: 0.3125rem;
  background: var(--Dark-green, #242A1F);
  padding: 0.62rem;
  color: var(--White, #FFF);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
  display: inline-block;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.success-link {
  display: flex;
  padding: 1.25rem 2.1875rem;
  align-items: center;
  gap: 1.25rem;
  height: 4rem;
  border: 2px solid var(--Dark-green, #242A1F);
  background: var(--Green, #82C853);
  color: var(--Dark-green, #242A1F);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}

header .main_container {
  display: flex;
  align-items: flex-start;
  gap: 1.44rem;
  max-width: 78.12rem;
}
header .logo {
  width: 10rem;
  height: 10rem;
  background: #242A1F;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .menues {
  padding: 1.25rem 0;
}
header .menu_top {
  display: flex;
  align-items: center;
  gap: 2.9rem;
}
header .menu_top .address {
  color: #242A1F;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
header .menu_top .texts {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
header .menu_top .text a {
  color: #242A1F;
  font-size: 1.0625rem;
  font-weight: 700;
  line-height: normal;
  border-bottom: 0.0625rem solid #242A1F;
  padding-bottom: 0.31rem;
}
header .menu_top .text_1 a {
  padding-right: 0.4rem;
}
header .menu_top .menu_top_right {
  display: flex;
  align-items: center;
  gap: 1.88rem;
}
header .menu_top .social_links {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header .menu_top .social_links a {
  position: relative;
}
header .menu_top .social_links a span {
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  background: #82C853;
  border-radius: 50%;
  right: -0.25rem;
  top: -0.25rem;
}
header .menu_top .phone {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.19rem;
}
header .menu_top .phone a {
  color: #242A1F;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
header .menu_top .phone span {
  color: #5B5B59;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header .line {
  background: #242A1F;
  height: 0.0625rem;
  margin: 0.62rem 0 1.56rem;
}
header .menu_bottom {
  display: flex;
  align-items: center;
  gap: 1.75rem;
}
header .menu_bottom a {
  display: flex;
  align-items: center;
  gap: 0.31rem;
  color: #242A1F;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
header .menu_bottom a.last {
  gap: 0.62rem;
}
header .menu_bottom .nav_dropdown {
  position: relative;
}
header .menu_bottom .nav_dropdown__head {
  display: flex;
  align-items: center;
  gap: 0.31rem;
  color: #242A1F;
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
}
header .menu_bottom .nav_dropdown__body {
  background: #EEE;
  position: absolute;
  padding-top: 10px;
  display: none;
  flex-direction: column;
  transform: translateX(-10px);
}
header .menu_bottom .nav_dropdown__body a {
  color: #242A1F;
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
  text-transform: none;
  white-space: nowrap;
  padding: 5px 10px;
}
header .menu_bottom .nav_dropdown:hover .nav_dropdown__body {
  display: flex;
}

#index_home {
  padding-top: 4.94rem;
}
#index_home .home_bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
#index_home .title {
  color: #242A1F;
  font-family: "Roboto Slab", serif;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  text-transform: uppercase;
}
#index_home .texts {
  display: flex;
  align-items: center;
  gap: 1.53rem;
  margin: 0.41rem 0 0.44rem;
}
#index_home .texts .description {
  color: #242A1F;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  width: 24.06225rem;
}
#index_home .texts .title_2 {
  color: #242A1F;
  font-family: "Roboto Slab", sans-serif;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
}
#index_home .cards {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  width: 44.75rem;
  margin: 4.57rem 0 5.1rem;
  padding-left: 0.69rem;
}
#index_home .cards .card_description {
  color: #242A1F;
  font-size: 1.1875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
  margin-top: 1.1rem;
  white-space: nowrap;
}
#index_home .cards .card_description span {
  font-weight: 700;
  display: inline;
}
#index_home .cards .card_item:last-child {
  padding-left: 0.42em;
}
#index_home .buttons {
  display: flex;
  align-items: center;
  gap: 2.03rem;
  padding-left: 0.69rem;
}
#index_home .buttons .link_1 {
  padding: 1.1rem 2rem;
}
#index_home .buttons .link_2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  background: #242A1F;
  color: #FFF;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
  padding: 1.25rem 2.81rem;
}
#index_home .index_question_card {
  display: flex;
  border-radius: 0.625rem;
  background: #FFF;
  margin: 11.25rem 0.19rem 9.38rem 0.25rem;
}
#index_home .index_question_card .card_left {
  border-radius: 0.625rem 0rem 11.25rem 0.625rem;
  background: #242A1F;
  position: relative;
  overflow: hidden;
  padding: 2.57rem 1.52rem 4.2rem 2.32rem;
  width: 33.48719rem;
}
#index_home .index_question_card .card_left .card_bg {
  position: absolute;
  right: 1.9rem;
  top: 50%;
  transform: translateY(calc(-50% + 14px));
}
#index_home .index_question_card .card_left .card_title {
  color: #FFF;
  font-family: "Roboto Slab", serif;
  font-size: 2.375rem;
  font-style: normal;
  font-weight: 300;
  line-height: 121%;
  position: relative;
  margin-bottom: 0.85rem;
}
#index_home .index_question_card .card_left .card_title span {
  color: #82C853;
  display: inline;
  font-weight: 500;
}
#index_home .index_question_card .card_left .subtitle {
  color: #FFF;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 6.6rem;
  max-width: 16.81288rem;
  position: relative;
}
#index_home .index_question_card .card_left .user_img {
  position: relative;
}
#index_home .index_question_card .card_left .user_data {
  color: #FFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-top: 0.45rem;
  margin-bottom: 1.56rem;
  position: relative;
}
#index_home .index_question_card .card_left .user_data .job {
  font-weight: 500;
  margin-top: 0.25rem;
}
#index_home .index_question_card .card_left p {
  color: #FFF;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  max-width: 21.01469rem;
  position: relative;
}
#index_home .index_question_card .card_right {
  width: calc(100% - 33.48719rem);
  padding: 2.69rem 1.94rem 0rem 1.88rem;
}
#index_home .index_question_card .card_right .slide_count {
  color: #5B5B59;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  text-align: center;
  margin-bottom: 0.88rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#index_home .index_question_card .card_right .slider_pagination {
  height: 1px;
  background: #EEE;
  position: relative;
  margin-bottom: 2.48rem;
}
#index_home .index_question_card .card_right .slider_pagination .swiper-scrollbar-drag {
  position: absolute;
  left: 0;
  top: -1px;
  background: #82C853;
  width: 7.67444rem;
  height: 2px;
}
#index_home .index_question_card .card_right .slider_title {
  color: #242A1F;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-align: center;
  margin-bottom: 1.85rem;
}
#index_home .index_question_card .card_right .images {
  display: flex;
  flex-wrap: wrap;
  gap: 1.8rem 0;
  align-items: stretch;
}
#index_home .index_question_card .card_right .card_line {
  width: 0.0625rem;
  background: #242A1F;
  margin-left: 1.38rem;
  margin-right: 1.44rem;
}
#index_home .index_question_card .card_right .image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.88rem;
  width: calc(50% - 1.445rem);
}
#index_home .index_question_card .card_right .image img {
  width: 100%;
  height: 12.24988rem;
  -o-object-fit: cover;
     object-fit: cover;
}
#index_home .index_question_card .card_right .image input[type=checkbox] {
  display: none;
}
#index_home .index_question_card .card_right .image label {
  position: relative;
  padding-left: 1.98rem;
  color: #242A1F;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
#index_home .index_question_card .card_right .image label::before {
  content: "";
  position: absolute;
  border-radius: 0.064rem;
  border: 0.655px solid #242A1F;
  width: 1.40769rem;
  height: 1.40769rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2s ease;
}
#index_home .index_question_card .card_right .image label:after {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../images/check_icon.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: none;
}
#index_home .index_question_card .card_right .image label:hover::before {
  border-color: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_1:checked + label[for=home_card_slide_1]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_1:checked + label[for=home_card_slide_1]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_2:checked + label[for=home_card_slide_2]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_2:checked + label[for=home_card_slide_2]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_3:checked + label[for=home_card_slide_3]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_3:checked + label[for=home_card_slide_3]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_4:checked + label[for=home_card_slide_4]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_4:checked + label[for=home_card_slide_4]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_5:checked + label[for=home_card_slide_5]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_5:checked + label[for=home_card_slide_5]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_6:checked + label[for=home_card_slide_6]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_6:checked + label[for=home_card_slide_6]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_7:checked + label[for=home_card_slide_7]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_7:checked + label[for=home_card_slide_7]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_8:checked + label[for=home_card_slide_8]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_8:checked + label[for=home_card_slide_8]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_9:checked + label[for=home_card_slide_9]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_9:checked + label[for=home_card_slide_9]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_10:checked + label[for=home_card_slide_10]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_10:checked + label[for=home_card_slide_10]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_11:checked + label[for=home_card_slide_11]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_11:checked + label[for=home_card_slide_11]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_12:checked + label[for=home_card_slide_12]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_12:checked + label[for=home_card_slide_12]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_13:checked + label[for=home_card_slide_13]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_13:checked + label[for=home_card_slide_13]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_14:checked + label[for=home_card_slide_14]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_14:checked + label[for=home_card_slide_14]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_15:checked + label[for=home_card_slide_15]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_15:checked + label[for=home_card_slide_15]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_16:checked + label[for=home_card_slide_16]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_16:checked + label[for=home_card_slide_16]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_17:checked + label[for=home_card_slide_17]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_17:checked + label[for=home_card_slide_17]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_18:checked + label[for=home_card_slide_18]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_18:checked + label[for=home_card_slide_18]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_19:checked + label[for=home_card_slide_19]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_19:checked + label[for=home_card_slide_19]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_20:checked + label[for=home_card_slide_20]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_20:checked + label[for=home_card_slide_20]::after {
  display: block;
}
#index_home .index_question_card .card_right .card_right_slider {
  padding-bottom: 1px;
}
#index_home .index_question_card .card_right .link_wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 2.52rem;
}
#index_home .index_question_card .card_right .dark-link {
  padding: 0.625rem 2.5625rem;
  background: var(--Dark-green, #242A1F);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.88rem;
  color: var(--White, #FFF);
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.main__cards {
  padding-bottom: 9.38rem;
}
.main__cards .main__cards-title {
  width: 32.96631rem;
}
.main__cards .main__cards-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.87rem;
  margin-top: 3.13rem;
}
.main__cards .main__cards-wrap .main__card {
  border-radius: 0.625rem;
  background: var(--White, #FFF);
  display: flex;
  width: 35.3125rem;
  height: 21.3125rem;
  padding: 1.87rem;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}
.main__cards .main__cards-wrap .main__card .main__card-img {
  display: flex;
  width: 2.9375rem;
  height: 2.9375rem;
  padding: 0.25rem 0.4375rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.3125rem;
  background: var(--Light-gray, #EEE);
  -webkit-backdrop-filter: blur(2.9323372841px);
          backdrop-filter: blur(2.9323372841px);
  margin-bottom: 1.69em;
}
.main__cards .main__cards-wrap .main__card .main__card-title {
  color: var(--Dark-green, #242A1F);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 120%; /* 1.5rem */
  text-transform: uppercase;
  margin-bottom: 2.19rem;
}
.main__cards .main__cards-wrap .main__card .main__card-text {
  color: var(--Dark-green, #242A1F);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 120%; /* 1.5rem */
}

.selections {
  padding-bottom: 9.37rem;
}
.selections .selections__content {
  margin-top: 3.12rem;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.875rem;
  border-radius: 0.625rem;
  background: var(--White, #FFF);
  gap: 5.255rem;
}
.selections .selections__content .selections__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.selections .selections__content .selections__items .selections__item {
  display: flex;
  flex-direction: column;
  gap: 0.94rem;
}
.selections .selections__content .selections__items .selections__item .selections__item-title {
  color: var(--Dark-green, #242A1F);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 120%;
}
.selections .selections__content .selections__items .selections__item a {
  display: flex;
  align-items: center;
  gap: 1.88rem;
  padding: 0.625rem 1.25rem;
  border-radius: 0.3125rem;
  background: var(--Light-gray, #EEE);
}
.selections .selections__content .selections__items .selections__item a span {
  color: var(--Dark-green, #242A1F);
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 120%;
}
.selections .selections__content .selections__items .select-border {
  height: 7.5rem;
  width: 1px;
  background: #CDDDC3;
}

.house__info {
  padding-bottom: 9.37rem;
}
.house__info .house__cards {
  display: flex;
  gap: 1.88rem;
  align-items: start;
  margin-top: 3.12rem;
  flex-wrap: wrap;
}
.house__info .house__cards .house__card {
  display: flex;
  flex-direction: column;
  width: 35.3rem;
}
.house__info .house__cards .house__card .house__card-img {
  position: relative;
}
.house__info .house__cards .house__card .house__card-img img {
  width: 100%;
  border-radius: 0.625rem 0.625rem 0rem 0rem;
}
.house__info .house__cards .house__card .house__card-img .house__card-spn {
  position: absolute;
  right: 1.875rem;
  top: 1.875rem;
  padding: 0.3125rem;
  border-radius: 0.3125rem;
  border: 1px solid var(--White, #FFF);
  background: var(--White, #FFF);
  color: var(--Dark-green, #242A1F);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 120%;
}
.house__info .house__cards .house__card .house__card-img .house__card-spn b {
  font-weight: 500;
}
.house__info .house__cards .house__card .house__card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.875rem;
  border-radius: 0rem 0rem 2.5rem 0.625rem;
  background: var(--White, #FFF);
  margin-top: -5px;
}
.house__info .house__cards .house__card .house__card-info span {
  color: var(--Dark-green, #242A1F);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 120%; /* 1.5rem */
  text-transform: uppercase;
}
.house__info .house__cards .house__card .house__card-info a {
  color: var(--Dark-green, #242A1F);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 120%;
  padding-bottom: 0.21rem;
  border-bottom: 0.125rem solid #242A1F;
}

.house__discount {
  padding-bottom: 9.38rem;
}
.house__discount .house__discount-content {
  width: 72.8125rem;
  padding: 1.88rem 1.87rem;
  background-image: url(../images/house-discount.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 0.625rem;
}
.house__discount .house__discount-content .house__dicount-texts {
  display: flex;
  flex-direction: column;
  gap: 1.56rem 0;
  max-width: 32.3125rem;
}
.house__discount .house__discount-content .house__dicount-texts .house__dicount-title {
  color: var(--White, #FFF);
  max-width: 28.5625rem;
}
.house__discount .house__discount-content .house__dicount-texts .house__dicount-text {
  color: var(--White, #FFF);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 120%;
}
.house__discount .house__discount-content .house__discount-info {
  border-radius: 0.3125rem;
  background: var(--White, #FFF);
  display: flex;
  width: 100%;
  padding: 1.875rem 5.625rem;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 7.5rem;
}
.house__discount .house__discount-content .house__discount-info .house__discount-items,
.house__discount .house__discount-content .house__discount-info .house__discount-item {
  display: flex;
  align-items: center;
  gap: 1.5625rem;
}
.house__discount .house__discount-content .house__discount-info .house__discount-items .house__discount-img,
.house__discount .house__discount-content .house__discount-info .house__discount-item .house__discount-img {
  display: flex;
  width: 2.9375rem;
  height: 2.9375rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.3125rem;
  background: var(--Light-gray, #EEE);
  -webkit-backdrop-filter: blur(2.9323372841px);
          backdrop-filter: blur(2.9323372841px);
}
.house__discount .house__discount-content .house__discount-info .house__discount-items span,
.house__discount .house__discount-content .house__discount-info .house__discount-item span {
  display: flex;
  flex-direction: column;
  color: var(--Dark-green, #242A1F);
  font-size: 1.1875rem;
  font-weight: 500;
  line-height: 120%; /* 1.425rem */
  text-transform: uppercase;
}
.house__discount .house__discount-content .house__discount-info .house__discount-items span b,
.house__discount .house__discount-content .house__discount-info .house__discount-item span b {
  font-weight: 700;
}
.house__discount .house__discount-content .house__discount-info .house__discount-item1 {
  width: 12.5rem;
}
.house__discount .house__discount-content .house__discount-info .house__discount-item2 {
  width: 15rem;
}
.house__discount .house__discount-content .house__discount-info .house__discount-link {
  border: none;
}

.project {
  padding-bottom: 9.37rem;
}
.project .project__top {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 3.125rem;
}
.project .project__top .project-title {
  max-width: 50.86494rem;
}
.project .project__top .project__top-link {
  color: var(--Dark-green, #242A1F);
  font-size: 1.25rem;
  font-weight: 700;
  border-bottom: 0.125rem solid #242A1F;
}
.project .project__slider .project-slide {
  overflow: visible;
}
.project .project__slider .swiper-slide {
  width: 23.125rem;
  display: flex;
  flex-direction: column;
}
.project .project__slider .swiper-slide .project__slider-info {
  display: flex;
  width: 23.125rem;
  padding: 1.875rem;
  flex-direction: column;
  gap: 0.625rem;
  border-radius: 0rem 0rem 2.5rem 0.625rem;
  background: var(--White, #FFF);
  margin-top: -5px;
}
.project .project__slider .swiper-slide .project__slider-info .project__slider-title {
  color: var(--Dark-green, #242A1F);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 140%; /* 1.75rem */
  text-transform: uppercase;
  padding-bottom: 0.625rem;
  border-bottom: 1px solid #CDDDC3;
}
.project .project__slider .swiper-slide .project__slider-info .project__slider-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project .project__slider .swiper-slide .project__slider-info .project__slider-price span {
  color: var(--Dark-green, #242A1F);
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 120%;
}
.project .project__slider .swiper-slide .project__slider-info .project__slider-price b {
  color: var(--Dark-green, #242A1F);
  font-size: 1.375rem;
  line-height: 120%;
  font-weight: 700;
}
.project .project__slider .swiper-button-prev,
.project .project__slider .swiper-button-next {
  top: 12.9rem;
}

.project__catalog {
  padding-bottom: 9.38rem;
}
.project__catalog .project__content {
  position: relative;
  display: flex;
  align-items: start;
  gap: 1rem;
  border-radius: 0.625rem 0.625rem 11.25rem 0.625rem;
  background: var(--White, #FFF);
  padding: 1.87rem;
}
.project__catalog .project__content .project__catalog-info {
  max-width: 31.15281rem;
}
.project__catalog .project__content .project__catalog-info .project__catalog-title {
  width: 31.15281rem;
}
.project__catalog .project__content .project__catalog-info .project__catalog-text {
  color: var(--Dark-green, #242A1F);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 120%;
  margin-top: 1.56rem;
  max-width: 30.17425rem;
}
.project__catalog .project__content .project__catalog-info .project__catalog-text span {
  font-weight: 600;
}
.project__catalog .project__content .project__catalog-info form {
  max-width: 26.5625rem;
}
.project__catalog .project__content .project__catalog-info form .project__catalog-form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-top: 3.75rem;
}
.project__catalog .project__content .project__catalog-info form .project__catalog-form .project__catalog-inp {
  padding: 1.25rem;
  border-bottom: 1px solid var(--Dark-green, #242A1F);
  color: var(--Gray, #5B5B59);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 120%;
}
.project__catalog .project__content .project__catalog-info form .project__form-btn {
  padding: 1.25rem;
  width: 100%;
  margin-top: 1.875rem;
}
.project__catalog .project__content .project__catalog-info form .project-form-text {
  color: var(--Gray, #5B5B59);
  font-size: 1rem;
  font-weight: 400;
  line-height: 120%;
  margin-top: 0.88em;
}
.project__catalog .project__content .project__catalog-info form .project-form-text a {
  font-weight: 600;
  text-decoration-line: underline;
}
.project__catalog .project__content .project__catalog-items {
  display: flex;
  align-items: start;
  gap: 1.6875rem 1.6rem;
  flex-wrap: wrap;
}
.project__catalog .project__content .project__catalog-items .project__catalog-item {
  display: flex;
  align-items: center;
  gap: 1.5625rem;
  width: 17.4375rem;
}
.project__catalog .project__content .project__catalog-items .project__catalog-item .project__catalog-icon {
  display: flex;
  width: 2.9375rem;
  height: 2.9375rem;
  padding: 0.25rem 0.4375rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.3125rem;
  background: var(--Light-gray, #EEE);
  -webkit-backdrop-filter: blur(2.9323372841px);
          backdrop-filter: blur(2.9323372841px);
}
.project__catalog .project__content .project__catalog-items .project__catalog-item p {
  color: var(--Dark-green, #242A1F);
  font-size: 1.1775rem;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
}
.project__catalog .project__content .project__catalog-items .project__catalog-item p span {
  font-weight: 600;
}
.project__catalog .project__content .project__catalog-items .project__catalog-item1 p {
  width: 11.5rem;
}
.project__catalog .project__content .project-catalog-img {
  position: absolute;
  right: -80px;
  bottom: -70px;
}

.house-video {
  background-image: url(../images/house-video-img.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 40.625rem;
}
.house-video .main_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.house-video .main_container .house__video-play {
  height: 7.61281rem;
  width: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.1875rem 2.5rem;
  border-radius: 4.375rem;
  border: 2px solid var(--White, #FFF);
}

.view {
  padding-top: 9.38rem;
}
.view .view__top {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 3.13rem;
}
.view .view__top .view__top-texts {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
}
.view .view__top .view__top-texts .view__top-text {
  color: var(--Dark-green, #242A1F);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 120%;
  max-width: 37.62356rem;
}
.view .view__top .view__top-location {
  display: flex;
  align-items: start;
  gap: 1.25rem;
}
.view .view__top .view__top-location .view__location-img {
  display: flex;
  width: 3.6rem;
  height: 2.9375rem;
  padding: 0.25rem 0.4375rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.3125rem;
  background: var(--White, #FFF);
  -webkit-backdrop-filter: blur(2.9323372841px);
          backdrop-filter: blur(2.9323372841px);
}
.view .view__top .view__top-location .view__location-info {
  display: flex;
  flex-direction: column;
}
.view .view__top .view__top-location .view__location-info .view__location-name {
  color: var(--Dark-green, #242A1F);
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.875rem;
}
.view .view__top .view__top-location .view__location-info p {
  color: var(--Gray, #5B5B59);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 1.875rem;
}
.view .view__top .view__top-location .view__location-info .view__location-link {
  color: var(--Dark-green, #242A1F);
  font-size: 1.0625rem;
  font-weight: 700;
  border-bottom: 0.125rem solid #242A1F;
  display: inline;
  max-width: 13.375rem;
}
.view .view__content {
  background-image: url(../images/view-img.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 46.875rem;
  padding: 1.87rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.view .view__content .view__content-spn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  width: 17.375rem;
  height: 3.34688rem;
  padding: 1.25rem;
  border-radius: 0.3125rem;
  background: var(--White, #FFF);
  color: var(--Dark-green, #242A1F);
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
}
.view .view__content .view__content-spn b {
  font-weight: 600;
}
.view .view__content .view__content-info {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  border-radius: 0.3125rem;
  background: var(--White, #FFF);
  padding: 2.94rem 2.94rem 2.89rem;
}
.view .view__content .view__content-info .view__content-form {
  display: flex;
  align-items: flex-start;
  gap: 1.25rem;
}
.view .view__content .view__content-info .view__content-form input {
  width: 19.375rem;
  padding: 1.25rem;
  border-bottom: 1px solid var(--Dark-green, #242A1F);
  color: var(--Gray, #5B5B59);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 120%;
}
.view .view__content .view__content-info .view__content-form .view__form-btn {
  font-size: 1.125rem;
  height: 3.875rem;
  padding: 1.25rem 1.875rem;
}
.view .view__content .view__content-info .view__content-text {
  color: var(--Gray, #5B5B59);
  font-size: 1rem;
  font-weight: 400;
  line-height: 120%; /* 1.2rem */
}
.view .view__content .view__content-info .view__content-text a {
  font-weight: 600;
  text-decoration-line: underline;
}

.production {
  margin: 9.41rem 0 10.04rem;
}
.production .production_card {
  background-image: url("../images/production_bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.625rem;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.production .card_left {
  padding: 1.9rem 0rem 0rem 1.88rem;
}
.production .card_left .sec-light-title {
  max-width: 37.1875rem;
  margin-bottom: 2rem;
}
.production .card_left ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1.88rem 1.25rem;
  margin-bottom: 2.41rem;
}
.production .card_left ul .line {
  width: 0.0625rem;
  height: 7.5rem;
  background: #CDDDC3;
}
.production .card_left ul li:not(.line) {
  color: var(--White, #FFF);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.production .card_left ul li:nth-child(1), .production .card_left ul li:nth-child(4) {
  width: 12.62219rem;
}
.production .card_left ul li:nth-child(3), .production .card_left ul li:nth-child(6) {
  width: 13.3042rem;
}
.production .card_left a {
  display: inline-flex;
}
.production .card_right {
  border-radius: 0 0 0 11.25rem;
  background: var(--White, #FFF);
}
.production .card_right h3 {
  color: var(--Gray, #5B5B59);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: normal;
  margin: 2.56rem 3.12rem 1.25rem;
}
.production .card_right .partners {
  display: flex;
  align-items: center;
  padding-left: 3.88rem;
}
.production .card_right .partners .line {
  width: 0.0625rem;
  height: 11.15331rem;
  background: #CDDDC3;
  margin: 0 3.54rem 0 2rem;
}
.production .card_right ul {
  display: flex;
  flex-direction: column;
  gap: 1.31rem;
  width: 27.3125rem;
  margin: 4.6rem 3rem 6.57rem 3.12rem;
}
.production .card_right ul li {
  display: flex;
  align-items: center;
  gap: 1.56rem;
}
.production .card_right ul .description {
  color: var(--Dark-green, #242A1F);
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
}
.production .card_right ul .description span {
  display: inline;
  font-weight: 600;
}

#question .main_container {
  overflow: hidden;
  position: relative;
}
#question .main_container .question_bg {
  position: absolute;
  top: 3rem;
  right: 6rem;
}
#question .sec-title {
  position: relative;
}
#question p {
  color: var(--Dark-green, #242A1F);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 120%;
  margin: 1.31rem 0 3.12rem;
  position: relative;
}
#question p a {
  font-weight: 600;
  text-decoration-line: underline;
}
#question .accordion .accordion_head {
  border-radius: 0.3125rem;
  border-bottom: 1px solid var(--Gray, #5B5B59);
  background: var(--Dark-green, #242A1F);
  padding: 1rem 1.88rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 6.875rem;
  cursor: pointer;
}
#question .accordion .accordion_head span {
  color: var(--White, #FFF);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
  position: relative;
}
#question .accordion .accordion_head svg {
  flex-shrink: 0;
  transition: 0.3s ease-in-out all;
  position: relative;
}
#question .accordion .accordion_head.active svg {
  transform: rotateZ(180deg);
}
#question .accordion .accordion_body {
  border-radius: 0.125rem;
  background: var(--White, #FFF);
  color: var(--Dark-green, #242A1F);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 120%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
#question .accordion .accordion_body span {
  padding: 1.88rem;
  position: relative;
}

.several {
  padding-top: 8.95rem;
}
.several .several-title {
  max-width: 39.0625rem;
  margin-bottom: 3.125rem;
}
.several .several__cards {
  border-radius: 0.625rem;
  background: var(--White, #FFF);
  display: flex;
  padding: 2.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 4.375rem;
}
.several .several__cards .several__cards-item {
  display: flex;
  align-items: flex-start;
  gap: 3.75rem;
}
.several .several__cards .several__cards-item .several__card {
  width: 20rem;
}
.several .several__cards .several__cards-item .several__card span {
  height: 2.75rem;
  padding: 0.625rem;
  border-radius: 0.3125rem;
  background: var(--Dark-green, #242A1F);
  color: var(--White, #FFF);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 120%; /* 1.5rem */
  text-transform: uppercase;
  margin-bottom: 1.6875rem;
}
.several .several__cards .several__cards-item .several__card h4 {
  color: var(--Dark-green, #242A1F);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 120%; /* 1.5rem */
  text-transform: uppercase;
}

.team {
  padding-top: 10.65rem;
}
.team .team__top {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 3.12rem;
}
.team .team__top .team-title {
  max-width: 49.1875rem;
}
.team .team__slider .team-slide {
  overflow: visible;
}
.team .team__slider .swiper-slide {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.team .team__slider .swiper-slide .team__slider-info {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  max-width: 21.375rem;
}
.team .team__slider .swiper-slide .team__slider-info .team__slider-text {
  color: var(--Dark-green, #242A1F);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 120%; /* 1.35rem */
  padding-bottom: 0.375rem;
  border-bottom: 1px solid #CDDDC3;
}
.team .team__slider .swiper-slide .team__slider-info .team__slider-title {
  color: var(--Dark-green, #242A1F);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 120%; /* 1.5rem */
  text-transform: uppercase;
}

.consultation {
  margin-top: 9.38rem;
}
.consultation .consultation_card {
  border-radius: 0.625rem;
  background-image: url("../images/consultation_bg.webp");
  background-size: cover;
  background-position: center left;
  overflow: hidden;
  position: relative;
  padding: 1.9rem 1.88rem 1.95rem 1.87rem;
}
.consultation .card_bg {
  position: absolute;
  top: 0;
  right: -1px;
  height: 100%;
}
.consultation .sec-title {
  color: white;
  position: relative;
  margin-bottom: 2.23rem;
}
.consultation ul {
  display: flex;
  flex-direction: column;
  gap: 1.69rem;
  position: relative;
  margin-bottom: 3.37rem;
}
.consultation ul li {
  display: flex;
  align-items: center;
  gap: 1.56rem;
}
.consultation ul .description {
  color: var(--White, #FFF);
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
}
.consultation ul .description span {
  font-weight: 600;
  display: inline;
}
.consultation form {
  border-radius: 0.625rem;
  background: var(--White, #FFF);
  box-shadow: 0px 0px 30px 0px rgba(36, 42, 31, 0.12);
  overflow: hidden;
  padding: 1.25rem;
  position: relative;
}
.consultation form label {
  color: var(--Dark-green, #242A1F);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 120%;
  display: block;
  max-width: 35.1245rem;
  margin-bottom: 1.56rem;
}
.consultation form label span {
  font-weight: 600;
  display: inline;
}
.consultation form .inputs {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  margin-bottom: 1.56rem;
}
.consultation form input {
  padding: 1.25rem;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 120%;
  color: #242A1F;
  border-bottom: 1px solid var(--Dark-green, #242A1F);
}
.consultation form input::-moz-placeholder {
  color: var(--Gray, #5B5B59);
}
.consultation form input::placeholder {
  color: var(--Gray, #5B5B59);
}
.consultation form .links {
  color: var(--Gray, #5B5B59);
  font-size: 1rem;
  font-weight: 400;
  line-height: 120%;
}
.consultation form .links a {
  font-weight: 600;
  text-decoration-line: underline;
}

.visit {
  margin-top: 9.38rem;
}
.visit .visit_head {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 3.12rem;
}
.visit .visit_head a {
  color: var(--Dark-green, #242A1F);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 3px;
  border-bottom: 2px solid #242A1F;
}
.visit .visit_card {
  background-image: url("../images/visit_card_bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.625rem;
  overflow: hidden;
  padding: 1.88rem 0 1.87rem;
}
.visit .card_top {
  padding: 1.25rem;
  display: inline-block;
  border-radius: 0.3125rem;
  background: var(--White, #FFF);
  margin: 0 1.88rem 17.62rem;
}
.visit .card_top .name {
  color: var(--Dark-green, #242A1F);
  font-family: "Roboto Slab", serif;
  font-size: 2.375rem;
  font-weight: 300;
  line-height: 120%;
  margin: 13px 0 15px;
}
.visit .card_top .amount {
  color: var(--Dark-green, #242A1F);
  font-size: 1.1875rem;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}
.visit .card_top .price {
  color: var(--Dark-green, #242A1F);
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
}
.visit .card_bottom {
  padding: 2.94rem;
  border-radius: 0.625rem;
  background: var(--White, #FFF);
  box-shadow: 0px 0px 30px 0px rgba(36, 42, 31, 0.12);
  margin: 0 1.87rem 0 1.94rem;
  display: flex;
  flex-direction: column;
  gap: 1.69rem;
  color: #242A1F;
}
.visit .card_bottom .data {
  display: flex;
  align-items: center;
  gap: 1.56rem;
}
.visit .card_bottom .description {
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
}
.visit .card_bottom .description span {
  font-weight: 600;
  display: inline;
}

.customers .sec-title {
  margin: 9.38rem 0 3.12rem;
}
.customers .customer_slider_wrapper {
  position: relative;
}
.customers .customer_slider_btn {
  background: var(--Light-gray, #EEE);
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  top: 9.69rem;
}
.customers .customer_slide_prev_btn {
  left: -2.44rem;
}
.customers .customer_slide_next_btn {
  right: -1.75rem;
}
.customers .customer_slider {
  overflow: visible;
  z-index: 1;
}
.customers .customer_slider .swiper-slide {
  border-radius: 0.625rem;
  background: var(--White, #FFF);
  padding: 1.88rem;
}
.customers .customer_slider .slide_head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 1.56rem;
}
.customers .customer_slider .customer {
  display: flex;
  align-items: center;
  gap: 0.88rem;
}
.customers .customer_slider .customer .name {
  color: #242A1F;
  font-size: 1rem;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 0.31rem;
}
.customers .customer_slider .customer .date {
  color: var(--Gray, #5B5B59);
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
}
.customers .customer_slider .description {
  overflow: hidden;
  color: var(--Dark-green, #242A1F);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 1.25rem;
}
.customers .customer_slider .description.hide {
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 5;
}
.customers .customer_slider .show__btn {
  display: flex;
  align-items: flex-start;
  gap: 0.58rem;
  cursor: pointer;
}
.customers .customer_slider .show__btn span {
  color: var(--Dark-green, #242A1F);
  font-size: 1.0625rem;
  font-weight: 700;
  line-height: normal;
  border-bottom: 2px solid #242A1F;
  padding-bottom: 3px;
}
.customers .customer_slider .show__btn svg {
  margin-top: 0.35rem;
}
.customers .customer_slider .show__btn.active svg {
  transform: rotateZ(180deg);
}

#our_company {
  color: #242A1F;
}
#our_company .main_container {
  padding-top: 10.34rem;
  position: relative;
}
#our_company .bg_img {
  position: absolute;
  top: 0.96rem;
  left: -3.5rem;
}
#our_company .sec-title {
  max-width: 52rem;
  margin-bottom: 3.12rem;
  position: relative;
  z-index: 1;
}
#our_company .card_title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
#our_company .card_description {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 120%;
  position: relative;
  z-index: 1;
}
#our_company .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.87rem 1.94rem;
  margin-bottom: 9.38rem;
}
#our_company .cards .card_item {
  width: calc(33.3333333333% - 1.2933333333rem);
  background: white;
  border-radius: 0.625rem;
  overflow: hidden;
  padding: 1.88rem;
}
#our_company .cards .card_item:not(.dark) .card_title {
  margin-bottom: 2.06rem;
}
#our_company .cards .card_item.dark {
  border-radius: 0.625rem;
  border: 1px solid var(--Dark-green, #242A1F);
  background: var(--Dark-green, #242A1F);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#our_company .cards .card_item.dark .card_title {
  font-family: "Roboto Slab", serif;
  font-size: 2.8125rem;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 4px;
}
#our_company .cards .card_item.dark .card_description {
  text-align: center;
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
}
#our_company .bank_card {
  background-image: url("../images/bank_card_bg.webp");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 2.71rem 2.25rem 2.7rem 0;
  margin-bottom: 9.38rem;
  border-radius: 0.625rem;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
#our_company .bank_card .sec-light-title {
  max-width: 29.48881rem;
  margin: 0 0 4.58rem 1.87rem;
}
#our_company .bank_card .bank_logo {
  position: absolute;
  top: 4.41rem;
  right: 3.52rem;
}
#our_company .bank_card form {
  border-radius: 10px;
  background: var(--White, #FFF);
  box-shadow: 0px 0px 24px 0px rgba(36, 42, 31, 0.04);
  margin-left: 1.5rem;
  padding: 1.88rem;
}
#our_company .bank_card .form_head {
  display: flex;
  align-items: center;
  gap: 1.88rem;
  margin-bottom: 1.56rem;
}
#our_company .bank_card .form_head .head_item {
  display: flex;
  align-items: center;
  gap: 1.56rem;
}
#our_company .bank_card .form_head .img {
  width: 2.9375rem;
  height: 2.9375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3125rem;
  background: var(--Light-gray, #EEE);
  -webkit-backdrop-filter: blur(2.9323372841px);
          backdrop-filter: blur(2.9323372841px);
}
#our_company .bank_card .form_head span {
  color: var(--Dark-green, #242A1F);
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
}
#our_company .bank_card label {
  color: var(--Dark-green, #242A1F);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 1.91rem;
  display: block;
}
#our_company .bank_card label span {
  font-weight: 600;
}
#our_company .bank_card .inputs {
  display: flex;
  align-items: center;
  margin-bottom: 1.78rem;
}
#our_company .bank_card .inputs input {
  color: var(--Dark-green, #242A1F);
  padding: 1.25rem;
  border-bottom: 1px solid var(--Dark-green, #242A1F);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 120%;
}
#our_company .bank_card .inputs input::-moz-placeholder {
  color: var(--Gray, #5B5B59);
}
#our_company .bank_card .inputs input::placeholder {
  color: var(--Gray, #5B5B59);
}
#our_company .bank_card .inputs input:nth-child(1) {
  width: 20.9375rem;
  margin-right: 1.88rem;
}
#our_company .bank_card .inputs input:nth-child(2) {
  width: 21.875rem;
  margin-right: 1.81rem;
}
#our_company .bank_card .links {
  color: var(--Gray, #5B5B59);
  font-size: 1rem;
  font-weight: 400;
  line-height: 120%;
}
#our_company .bank_card .links a {
  font-weight: 600;
}

#map {
  background-image: url("../images/map_bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4.81em 0;
}
#map .map_content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 0.625rem;
  background: var(--White, #FFF);
  overflow: hidden;
}
#map .map_subtitle {
  color: var(--Dark-green, #242A1F);
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 120%;
}
#map .sec-title {
  margin-bottom: 3.06rem;
}
#map .map_left {
  padding: 2.5rem 1.25rem 2.5rem 2.5rem;
}
#map .address {
  margin: 1.25rem 0 1.88rem;
  max-width: 24.42157rem;
}
#map .address span {
  color: var(--Gray, #5B5B59);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 120%;
  margin: 0.88rem 0;
  display: block;
}
#map .address a {
  color: var(--Dark-green, #242A1F);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 0.31rem;
  border-bottom: 2px solid #242A1F;
}
#map .phone {
  margin: 1.25rem 0 1.88rem;
  display: block;
}
#map .email {
  display: block;
  margin: 1.25rem 0 3.06rem;
}
#map ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3.06rem;
}

footer {
  background: var(--Dark-green, #242A1F);
  padding: 3.79rem 0 1.33rem;
  color: #fff;
}
footer .foot_top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
footer .social_links ul {
  margin-top: 2.1rem;
}
footer .social_links .link {
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 1.21rem;
}
footer .social_links .email {
  margin-bottom: 0.87rem;
}
footer .social_links .answer {
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 3.44rem;
}
footer .social_links .socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.21rem;
}
footer .social_links .address {
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
  max-width: 16.28581rem;
}
footer .nav_links {
  margin-right: 0.6rem;
}
footer .nav_links .nav_link_title {
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 1.88rem;
}
footer .nav_links li:not(.nav_link_title):not(:last-child) {
  margin-bottom: 0.99rem;
}
footer .nav_links li a {
  color: var(--Light-gray, #EEE);
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
}
footer .nav_links li a.politika {
  padding-top: 0.5rem;
}
footer .nav_links .nav_links_top {
  display: flex;
  align-items: flex-start;
  margin-bottom: 3rem;
  justify-content: space-between;
}
footer .nav_links .nav_links_bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
footer .nav_links .company {
  margin-right: 5.1432rem;
}
footer .nav_links .company li {
  max-width: 9.73927rem;
}
footer .nav_links .services {
  margin-right: 3.5rem;
}
footer .nav_links .services li {
  max-width: 11.375rem;
}
footer .nav_links .prices {
  margin-right: 1.31rem;
}
footer .nav_links .prices li {
  max-width: 12.875rem;
}
footer .nav_links .portfolio {
  margin-right: 2.7rem;
}
footer .nav_links .qr_code {
  text-align: right;
}
footer .nav_links .qr_code span {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 120%;
  display: block;
  max-width: 12.55263rem;
  margin-top: 0.5rem;
}
footer .foot_bottom {
  color: var(--Gray, #5B5B59);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 140%;
  padding-top: 0.87rem;
  border-top: 1px solid #5B5B59;
  margin-top: 3.52rem;
}/*# sourceMappingURL=style.css.map */