@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Manrope:wght@400;500;600;700&family=Roboto+Slab:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background: transparent;
  outline: none;
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

span {
  display: inline-block;
}

ul, li {
  list-style-type: none;
}

input, textarea {
  background: transparent;
  outline: none;
  border: transparent;
}

body {
  background: #eee;
  font-family: "Manrope", sans-serif;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.main_container {
  max-width: 77.5rem;
  margin: 0 auto;
  padding: 0px 2.5rem;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.success-link {
  display: flex;
  padding: 1.25rem 2.1875rem;
  align-items: center;
  gap: 1.25rem;
  height: 4rem;
  border: 2px solid var(--Dark-green, #242A1F);
  background: var(--Green, #82C853);
  color: var(--Dark-green, #242A1F);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  white-space: nowrap;
}

.sec-title {
  color: var(--Dark-green, #242A1F);
  font-family: "Roboto Slab", serif;
  font-size: 2.375rem;
  font-weight: 300;
  line-height: 120%;
}
.sec-title span {
  color: var(--Green-extra, #4C9C2E);
  font-weight: 500;
}

header .main_container {
  display: flex;
  align-items: flex-start;
  gap: 1.44rem;
}
header .logo {
  width: 10rem;
  height: 10rem;
  background: #242A1F;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .menues {
  padding: 1.25rem 0;
}
header .menu_top {
  display: flex;
  align-items: center;
  gap: 3.1rem;
}
header .menu_top .address {
  color: #242A1F;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
header .menu_top .texts {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
header .menu_top .text a {
  color: #242A1F;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-bottom: 0.0625rem solid #242A1F;
  padding-bottom: 0.31rem;
}
header .menu_top .text_1 a {
  padding-right: 0.4rem;
}
header .menu_top .menu_top_right {
  display: flex;
  align-items: center;
  gap: 1.88rem;
}
header .menu_top .social_links {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header .menu_top .social_links a {
  position: relative;
}
header .menu_top .social_links a span {
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  background: #82C853;
  border-radius: 50%;
  right: -0.25rem;
  top: -0.25rem;
}
header .menu_top .phone {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.19rem;
}
header .menu_top .phone a {
  color: #242A1F;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
header .menu_top .phone span {
  color: #5B5B59;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header .line {
  background: #242A1F;
  height: 0.0625rem;
  margin: 0.62rem 0 1.56rem;
}
header .menu_bottom {
  display: flex;
  align-items: center;
  gap: 1.75rem;
}
header .menu_bottom a {
  display: flex;
  align-items: center;
  gap: 0.31rem;
  color: #242A1F;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
header .menu_bottom a.last {
  gap: 0.62rem;
}

#index_home {
  padding-top: 4.94rem;
}
#index_home .home_bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
#index_home .title {
  color: #242A1F;
  font-family: "Roboto Slab", serif;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  text-transform: uppercase;
}
#index_home .texts {
  display: flex;
  align-items: center;
  gap: 1.53rem;
  margin: 0.41rem 0 0.44rem;
}
#index_home .texts .description {
  color: #242A1F;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  width: 24.06225rem;
}
#index_home .texts .title_2 {
  color: #242A1F;
  font-family: "Roboto Slab", sans-serif;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
}
#index_home .cards {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  width: 44.75rem;
  margin: 4.57rem 0 5.1rem;
  padding-left: 0.69rem;
}
#index_home .cards .card_description {
  color: #242A1F;
  font-size: 1.1875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
  margin-top: 1.1rem;
  white-space: nowrap;
}
#index_home .cards .card_description span {
  font-weight: 700;
  display: inline;
}
#index_home .cards .card_item:last-child {
  padding-left: 0.42em;
}
#index_home .buttons {
  display: flex;
  align-items: center;
  gap: 2.03rem;
  padding-left: 0.69rem;
}
#index_home .buttons .link_1 {
  padding: 1.1rem 2rem;
}
#index_home .buttons .link_2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  background: #242A1F;
  color: #FFF;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
  padding: 1.25rem 2.81rem;
}
#index_home .index_question_card {
  display: flex;
  border-radius: 0.625rem;
  background: #FFF;
  margin: 11.25rem 0.19rem 9.38rem 0.25rem;
}
#index_home .index_question_card .card_left {
  border-radius: 0.625rem 0rem 11.25rem 0.625rem;
  background: #242A1F;
  position: relative;
  overflow: hidden;
  padding: 2.57rem 1.52rem 4.2rem 2.32rem;
  width: 33.48719rem;
}
#index_home .index_question_card .card_left .card_bg {
  position: absolute;
  right: 1.9rem;
  top: 50%;
  transform: translateY(calc(-50% + 14px));
}
#index_home .index_question_card .card_left .card_title {
  color: #FFF;
  font-family: "Roboto Slab", serif;
  font-size: 2.375rem;
  font-style: normal;
  font-weight: 300;
  line-height: 121%;
  position: relative;
  margin-bottom: 0.85rem;
}
#index_home .index_question_card .card_left .card_title span {
  color: #82C853;
  display: inline;
  font-weight: 500;
}
#index_home .index_question_card .card_left .subtitle {
  color: #FFF;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 6.6rem;
  max-width: 16.81288rem;
  position: relative;
}
#index_home .index_question_card .card_left .user_img {
  position: relative;
}
#index_home .index_question_card .card_left .user_data {
  color: #FFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-top: 0.45rem;
  margin-bottom: 1.56rem;
  position: relative;
}
#index_home .index_question_card .card_left .user_data .job {
  font-weight: 500;
  margin-top: 0.25rem;
}
#index_home .index_question_card .card_left p {
  color: #FFF;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  max-width: 21.01469rem;
  position: relative;
}
#index_home .index_question_card .card_right {
  width: calc(100% - 33.48719rem);
  padding: 2.69rem 1.94rem 0rem 1.88rem;
}
#index_home .index_question_card .card_right .slide_count {
  color: #5B5B59;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  text-align: center;
  margin-bottom: 0.88rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#index_home .index_question_card .card_right .slide_count .slider_coun_in {
  width: auto;
}
#index_home .index_question_card .card_right .slider_pagination {
  height: 1px;
  background: #EEE;
  position: relative;
  margin-bottom: 2.48rem;
}
#index_home .index_question_card .card_right .slider_pagination .swiper-scrollbar-drag {
  position: absolute;
  left: 0;
  top: -1px;
  background: #82C853;
  width: 7.67444rem;
  height: 2px;
}
#index_home .index_question_card .card_right .slider_title {
  color: #242A1F;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-align: center;
  margin-bottom: 1.85rem;
}
#index_home .index_question_card .card_right .images {
  display: flex;
  flex-wrap: wrap;
  gap: 1.8rem 0;
  align-items: stretch;
}
#index_home .index_question_card .card_right .card_line {
  width: 0.0625rem;
  background: #242A1F;
  margin-left: 1.38rem;
  margin-right: 1.44rem;
}
#index_home .index_question_card .card_right .image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.88rem;
  width: calc(50% - 1.445rem);
}
#index_home .index_question_card .card_right .image img {
  width: 100%;
  height: 12.24988rem;
  -o-object-fit: cover;
     object-fit: cover;
}
#index_home .index_question_card .card_right .image input[type=checkbox] {
  display: none;
}
#index_home .index_question_card .card_right .image label {
  position: relative;
  padding-left: 1.98rem;
  color: #242A1F;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
#index_home .index_question_card .card_right .image label::before {
  content: "";
  position: absolute;
  border-radius: 0.064rem;
  border: 0.655px solid #242A1F;
  width: 1.40769rem;
  height: 1.40769rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2s ease;
}
#index_home .index_question_card .card_right .image label:after {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../images/check_icon.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: none;
}
#index_home .index_question_card .card_right .image label:hover::before {
  border-color: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_1:checked + label[for=home_card_slide_1]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_1:checked + label[for=home_card_slide_1]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_2:checked + label[for=home_card_slide_2]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_2:checked + label[for=home_card_slide_2]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_3:checked + label[for=home_card_slide_3]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_3:checked + label[for=home_card_slide_3]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_4:checked + label[for=home_card_slide_4]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_4:checked + label[for=home_card_slide_4]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_5:checked + label[for=home_card_slide_5]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_5:checked + label[for=home_card_slide_5]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_6:checked + label[for=home_card_slide_6]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_6:checked + label[for=home_card_slide_6]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_7:checked + label[for=home_card_slide_7]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_7:checked + label[for=home_card_slide_7]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_8:checked + label[for=home_card_slide_8]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_8:checked + label[for=home_card_slide_8]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_9:checked + label[for=home_card_slide_9]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_9:checked + label[for=home_card_slide_9]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_10:checked + label[for=home_card_slide_10]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_10:checked + label[for=home_card_slide_10]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_11:checked + label[for=home_card_slide_11]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_11:checked + label[for=home_card_slide_11]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_12:checked + label[for=home_card_slide_12]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_12:checked + label[for=home_card_slide_12]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_13:checked + label[for=home_card_slide_13]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_13:checked + label[for=home_card_slide_13]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_14:checked + label[for=home_card_slide_14]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_14:checked + label[for=home_card_slide_14]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_15:checked + label[for=home_card_slide_15]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_15:checked + label[for=home_card_slide_15]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_16:checked + label[for=home_card_slide_16]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_16:checked + label[for=home_card_slide_16]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_17:checked + label[for=home_card_slide_17]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_17:checked + label[for=home_card_slide_17]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_18:checked + label[for=home_card_slide_18]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_18:checked + label[for=home_card_slide_18]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_19:checked + label[for=home_card_slide_19]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_19:checked + label[for=home_card_slide_19]::after {
  display: block;
}
#index_home .index_question_card .card_right .image #home_card_slide_20:checked + label[for=home_card_slide_20]::before {
  border: #FFDD00;
}
#index_home .index_question_card .card_right .image #home_card_slide_20:checked + label[for=home_card_slide_20]::after {
  display: block;
}

.main__cards {
  padding-bottom: 9.38rem;
}
.main__cards .main__cards-title {
  width: 32.96631rem;
}
.main__cards .main__cards-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.87rem;
  margin-top: 3.13rem;
}
.main__cards .main__cards-wrap .main__card {
  border-radius: 0.625rem;
  background: var(--White, #FFF);
  display: flex;
  width: 35.3125rem;
  height: 21.3125rem;
  padding: 1.87rem;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}
.main__cards .main__cards-wrap .main__card .main__card-img {
  display: flex;
  width: 2.9375rem;
  height: 2.9375rem;
  padding: 0.25rem 0.4375rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.3125rem;
  background: var(--Light-gray, #EEE);
  -webkit-backdrop-filter: blur(2.9323372841px);
          backdrop-filter: blur(2.9323372841px);
  margin-bottom: 1.69em;
}
.main__cards .main__cards-wrap .main__card .main__card-title {
  color: var(--Dark-green, #242A1F);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 120%; /* 1.5rem */
  text-transform: uppercase;
  margin-bottom: 2.19rem;
}
.main__cards .main__cards-wrap .main__card .main__card-text {
  color: var(--Dark-green, #242A1F);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 120%; /* 1.5rem */
}

.selections {
  padding-bottom: 9.37rem;
}
.selections .selections__content {
  margin-top: 3.12rem;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.875rem;
  border-radius: 0.625rem;
  background: var(--White, #FFF);
  gap: 5.255rem;
}
.selections .selections__content .selections__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.selections .selections__content .selections__items .selections__item {
  display: flex;
  flex-direction: column;
  gap: 0.94rem;
}
.selections .selections__content .selections__items .selections__item .selections__item-title {
  color: var(--Dark-green, #242A1F);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 120%;
}
.selections .selections__content .selections__items .selections__item a {
  display: flex;
  align-items: center;
  gap: 1.88rem;
  padding: 0.625rem 1.25rem;
  border-radius: 0.3125rem;
  background: var(--Light-gray, #EEE);
}
.selections .selections__content .selections__items .selections__item a span {
  color: var(--Dark-green, #242A1F);
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 120%;
}
.selections .selections__content .selections__items .select-border {
  height: 7.5rem;
  width: 1px;
  background: #CDDDC3;
}

.house__info {
  padding-bottom: 9.37rem;
}
.house__info .house__cards {
  display: flex;
  gap: 1.88rem;
  align-items: start;
  margin-top: 3.12rem;
  flex-wrap: wrap;
}
.house__info .house__cards .house__card {
  display: flex;
  flex-direction: column;
  width: 35.3rem;
}
.house__info .house__cards .house__card .house__card-img {
  position: relative;
}
.house__info .house__cards .house__card .house__card-img img {
  width: 100%;
  border-radius: 0.625rem 0.625rem 0rem 0rem;
}
.house__info .house__cards .house__card .house__card-img .house__card-spn {
  position: absolute;
  right: 1.875rem;
  top: 1.875rem;
  padding: 0.3125rem;
  border-radius: 0.3125rem;
  border: 1px solid var(--White, #FFF);
  background: var(--White, #FFF);
  color: var(--Dark-green, #242A1F);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 120%;
}
.house__info .house__cards .house__card .house__card-img .house__card-spn b {
  font-weight: 500;
}
.house__info .house__cards .house__card .house__card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.875rem;
  border-radius: 0rem 0rem 2.5rem 0.625rem;
  background: var(--White, #FFF);
  margin-top: -5px;
}
.house__info .house__cards .house__card .house__card-info span {
  color: var(--Dark-green, #242A1F);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 120%; /* 1.5rem */
  text-transform: uppercase;
}
.house__info .house__cards .house__card .house__card-info a {
  color: var(--Dark-green, #242A1F);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 120%;
  padding-bottom: 0.21rem;
  border-bottom: 0.125rem solid #242A1F;
}

.house__discount {
  padding-bottom: 9.38rem;
}
.house__discount .house__discount-content {
  width: 72.8125rem;
  padding: 1.88rem 1.87rem;
  background-image: url(../images/house-discount.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 0.625rem;
}
.house__discount .house__discount-content .house__dicount-texts {
  display: flex;
  flex-direction: column;
  gap: 1.56rem 0;
  max-width: 32.3125rem;
}
.house__discount .house__discount-content .house__dicount-texts .house__dicount-title {
  color: var(--White, #FFF);
  max-width: 28.5625rem;
}
.house__discount .house__discount-content .house__dicount-texts .house__dicount-text {
  color: var(--White, #FFF);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 120%;
}
.house__discount .house__discount-content .house__discount-info {
  border-radius: 0.3125rem;
  background: var(--White, #FFF);
  display: flex;
  width: 100%;
  padding: 1.875rem 5.625rem;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 7.5rem;
}
.house__discount .house__discount-content .house__discount-info .house__discount-items,
.house__discount .house__discount-content .house__discount-info .house__discount-item {
  display: flex;
  align-items: center;
  gap: 1.5625rem;
}
.house__discount .house__discount-content .house__discount-info .house__discount-items .house__discount-img,
.house__discount .house__discount-content .house__discount-info .house__discount-item .house__discount-img {
  display: flex;
  width: 2.9375rem;
  height: 2.9375rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.3125rem;
  background: var(--Light-gray, #EEE);
  -webkit-backdrop-filter: blur(2.9323372841px);
          backdrop-filter: blur(2.9323372841px);
}
.house__discount .house__discount-content .house__discount-info .house__discount-items span,
.house__discount .house__discount-content .house__discount-info .house__discount-item span {
  display: flex;
  flex-direction: column;
  color: var(--Dark-green, #242A1F);
  font-size: 1.1875rem;
  font-weight: 500;
  line-height: 120%; /* 1.425rem */
  text-transform: uppercase;
}
.house__discount .house__discount-content .house__discount-info .house__discount-items span b,
.house__discount .house__discount-content .house__discount-info .house__discount-item span b {
  font-weight: 700;
}
.house__discount .house__discount-content .house__discount-info .house__discount-item1 {
  width: 12.5rem;
}
.house__discount .house__discount-content .house__discount-info .house__discount-item2 {
  width: 15rem;
}
.house__discount .house__discount-content .house__discount-info .house__discount-link {
  border: none;
}

.project {
  padding-bottom: 9.37rem;
}
.project .project__top {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 3.125rem;
}
.project .project__top .project-title {
  max-width: 50.86494rem;
}
.project .project__top .project__top-link {
  color: var(--Dark-green, #242A1F);
  font-size: 1.25rem;
  font-weight: 700;
  border-bottom: 0.125rem solid #242A1F;
}
.project .project__slider .swiper-slide {
  width: 23.125rem;
  display: flex;
  flex-direction: column;
}
.project .project__slider .swiper-slide .project__slider-info {
  display: flex;
  width: 23.125rem;
  padding: 1.875rem;
  flex-direction: column;
  gap: 0.625rem;
  border-radius: 0rem 0rem 2.5rem 0.625rem;
  background: var(--White, #FFF);
  margin-top: -5px;
}
.project .project__slider .swiper-slide .project__slider-info .project__slider-title {
  color: var(--Dark-green, #242A1F);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 140%; /* 1.75rem */
  text-transform: uppercase;
  padding-bottom: 0.625rem;
  border-bottom: 1px solid #CDDDC3;
}
.project .project__slider .swiper-slide .project__slider-info .project__slider-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project .project__slider .swiper-slide .project__slider-info .project__slider-price span {
  color: var(--Dark-green, #242A1F);
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 120%;
}
.project .project__slider .swiper-slide .project__slider-info .project__slider-price b {
  color: var(--Dark-green, #242A1F);
  font-size: 1.375rem;
  line-height: 120%;
  font-weight: 700;
}
.project .project__slider .swiper-button-prev,
.project .project__slider .swiper-button-next {
  top: 12.9rem;
}
.project .project__slider .swiper-button-prev:after,
.project .project__slider .swiper-button-next:after {
  display: none;
}

.project__catalog {
  padding-bottom: 9.38rem;
}
.project__catalog .project__content {
  position: relative;
  display: flex;
  align-items: start;
  gap: 1.66rem;
  border-radius: 0.625rem 0.625rem 11.25rem 0.625rem;
  background: var(--White, #FFF);
  padding: 1.87rem;
}
.project__catalog .project__content .project__catalog-info {
  max-width: 31.15281rem;
}
.project__catalog .project__content .project__catalog-info .project__catalog-text {
  color: var(--Dark-green, #242A1F);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 120%;
  margin-top: 1.56rem;
  max-width: 30.17425rem;
}
.project__catalog .project__content .project__catalog-info .project__catalog-text span {
  font-weight: 600;
}
.project__catalog .project__content .project__catalog-info form {
  max-width: 26.5625rem;
}
.project__catalog .project__content .project__catalog-info form .project__catalog-form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-top: 3.75rem;
}
.project__catalog .project__content .project__catalog-info form .project__catalog-form .project__catalog-inp {
  padding: 1.25rem;
  border-bottom: 1px solid var(--Dark-green, #242A1F);
  color: var(--Gray, #5B5B59);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 120%;
}
.project__catalog .project__content .project__catalog-info form .project__form-btn {
  padding: 1.25rem;
  width: 100%;
  margin-top: 1.875rem;
}
.project__catalog .project__content .project__catalog-info form .project-form-text {
  color: var(--Gray, #5B5B59);
  font-size: 1rem;
  font-weight: 400;
  line-height: 120%;
  margin-top: 0.88em;
}
.project__catalog .project__content .project__catalog-info form .project-form-text a {
  font-weight: 600;
  text-decoration-line: underline;
}
.project__catalog .project__content .project__catalog-items {
  display: flex;
  align-items: start;
  gap: 2.1875rem 1.6875rem;
  flex-wrap: wrap;
}
.project__catalog .project__content .project__catalog-items .project__catalog-item {
  display: flex;
  align-items: center;
  gap: 1.5625rem;
  width: 17.4375rem;
}
.project__catalog .project__content .project__catalog-items .project__catalog-item .project__catalog-icon {
  display: flex;
  width: 2.9375rem;
  height: 2.9375rem;
  padding: 0.25rem 0.4375rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.3125rem;
  background: var(--Light-gray, #EEE);
  -webkit-backdrop-filter: blur(2.9323372841px);
          backdrop-filter: blur(2.9323372841px);
}
.project__catalog .project__content .project__catalog-items .project__catalog-item p {
  color: var(--Dark-green, #242A1F);
  font-size: 1.1775rem;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
}
.project__catalog .project__content .project__catalog-items .project__catalog-item p span {
  font-weight: 600;
}
.project__catalog .project__content .project__catalog-items .project__catalog-item1 p {
  width: 11.5rem;
}
.project__catalog .project__content .project-catalog-img {
  position: absolute;
  right: -80px;
  bottom: -70px;
}

.house-video {
  background-image: url(../images/house-video-img.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 40.625rem;
}
.house-video .main_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.house-video .main_container .house__video-play {
  height: 7.61281rem;
  width: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.1875rem 2.5rem;
  border-radius: 4.375rem;
  border: 2px solid var(--White, #FFF);
}/*# sourceMappingURL=style.css.map */